@{
    Layout = null; // Sayfa düzeni olmadığından Layout'u null olarak belirtiyoruz.
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kaydet</title>
    <style>
        body {
            background: linear-gradient(to top, #FFF, #212B59) !important;
            font-family: var(--bs-body-font-family);
            font-size: var(--bs-body-font-size);
            font-weight: var(--bs-body-font-weight);
            line-height: var(--bs-body-line-height);
            color: var(--bs-body-color);
            text-align: var(--bs-body-text-align);
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .popup {
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            text-align: center;
        }

            .popup h1 {
                font-size: 24px;
                margin-bottom: 10px;
            }

            .popup p {
                font-size: 18px;
            }
    </style>
</head>
<body>
    <div class="popup">
        <h1>Kaydedildi!</h1>
        <p>Teşekkürler!</p>
    </div>
</body>
</html>
